body{
    overflow-x: hidden;
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, #5776B5 0%, #8EF84E 100%);
    
}
#logo img{
    width: 4em;
    height: 4em;
}
.nav_bar{
    
    width: 100%;
    height: auto;
    background-color: rgba(164, 248, 125, 1);
    
}
h2{
    text-decoration-line: underline;
    text-align: center;
    margin-top: 50px;
}
.nav_bar li{
    float: right;
    display: inline;
    padding: 40px;
}
.about_txt{
    margin-top: 2%;
    margin-left: 10%;
    width: 40%;
    float: left;
}
.about_img{
    margin-top: 2%;
    margin-left: 10%;
    width: 40%;
    float: right;
}
footer{
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    margin-top: 450px;
    line-height: 10px;
    word-spacing: 10px;
    background-color: rgba(164, 248, 125, 1);
    height: 70px;
}