.header{
    border: 2px solid red;
    height: 70px;
}
.logo>img{
    height: 70px;
    width: 70px;
}
.list>ul{
    position: relative;
    display: flex;
    list-style: none;
    top: -70px;
    right: -380px;
}
.list>ul>li{
    margin-right: 50px;
}

/*{ start of section 1}*/
.sectionone{
    border: 2px blue;
    height: 600px;
}
.content1{
    position: relative;
    top: 120px;
}
.content1>p{
    font-weight: bold;
}
.content2>img{
    position: relative;
    height: 350px;
    width: 550px;
    right: -410px;
    top: -150px;
    
}