.header{
    border: 2px solid red;
    height: 70px;
}
.logo>img{
    height: 70px;
    width: 70px;
}
.list>ul{
    position: relative;
    display: flex;
    list-style: none;
    top: -70px;
    right: -380px;
}
.list>ul>li{
    margin-right: 50px;
}