.header{
    border: 2px solid white;
    height: 50px;
    background-color: rgba(164, 248, 125, 1);
}
.logo>img{
    height: 50px;
    width: 50px;
}
.hover-nav>ul{
    position: relative;
    display: flex;
    list-style: none;
    top: -60px;
    right: -380px;
}
.hover-nav>ul>li{
    margin-right: 50px;
}

/*{ start of section 1}*/
.section1{
    border: 2px solid red;
    height: 450px;
    border-radius: 0px 0px 100px 0px;
}
.content1{
    position: relative;
    top: 100px;
    left: 25px;
    
}
.content1>p{
    font-weight: normal;
}
.content2>img{
    position: relative;
    height: 350px;
    width: 520px;
    right: -430px;
    top: -120px;   
}
.footer{
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    margin-top: 720px;
    line-height: 25px;
    word-spacing: 10px;
}



